.div_wrapper {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(83,21,78,1) 51%, rgba(0,0,0,1) 100%);
}

.institution__title {

  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  margin: 10px auto 58px;
  max-width: 1050px;
  @media screen and (max-width: 1025px){
    max-width: 900px;
  }
  @media screen and (max-width: 769px){
    max-width: 700px;
  }
  @media screen and (max-width: 426px){
    max-width: 300px;
  }
}

.place__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.slider__wrapper {
  div{
    h4 {
      color: #fff !important;
    }
  }
  h3 {
    color: #ffffff;
  }
  p {
    color: #fff !important;
  }
  .place__prices img {
    filter: invert(100%) sepia(98%) saturate(8%) hue-rotate(155deg) brightness(102%) contrast(106%);
  }
}

.order__wrapper {
  position: relative;
  box-shadow: 1px 50px 15px black;
  background: linear-gradient(180deg, #000000 11%, rgba(0, 0, 0, 0) 100%);
}

.gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 170px;
  background: linear-gradient(180deg, #000000 -0.89%, rgba(0, 0, 0, 0) 88.1%);
  z-index: 2;
}

.gradient_two {
  transform: rotate(180deg);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 73px;
  background: linear-gradient(180deg, #000000 -0.89%, rgba(0, 0, 0, 0) 88.1%);
  z-index: 2;
}