.textareaWrapper {
  margin-bottom: 1%;
  position: relative;

  & span {
    position: absolute;
    top: 22%;
    left: 0;
    height: 18px;
    width: 100%;
    font-size: 14px;
    color: #ec5990;
  }
}

.textareaTitle {
  font-size: 22px;
  font-weight: 600;
  margin: 0px 0 10px;
}

.textarea {
  color: #fff;
  width: 100%;
  border: none;
  border-bottom: 2px solid #737373;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-bottom: 40px;
  resize: none;
  overflow: none;
  height: 26px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.textarea:focus {
  outline: none;
}