.contactsInputLinkWrapper {
  color: white;
  font-size: 22px;
  margin: 0;
  position: relative;

  & span {
    position: absolute;
    top: 50%;
    left: 0;
    height: 18px;
    width: 100%;
    font-size: 14px;
    color: #ec5990;
  }
}

.contactsInputLinkWrapper h4 {
  margin: 20px 0 20px 0;
}

.contactsInputLinkIcon {
  margin-left: 15px;
}

.contactsInputLink {
  color: #fff;
  width: 100%;
  border: none;
  border-bottom: 2px solid #737373;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.contactsInputLink:focus {
  outline: none;
}